@import url('https://fonts.googleapis.com/css?family=Iowan Old Style');
@import url('https://fonts.googleapis.com/css?family=Inria Sans');
@import url('https://fonts.googleapis.com/css?family=Inria Serif');

.container{
  border: #3C3030 solid 2px;
  padding-right: 0%;
}


.large{
  width: 910px;
  margin: auto;
  border:green solid 2px;
}


.search {
  margin: 89px auto;
  width: 355px;
  height: 60px;
  border: 1px solid var(--Dark, #3C3030);

}

input {
  width: 266px;
  height: 100%;
  float: left;
  border: none;
}

button {
  width:51px;
  height: 100%;
  background-color: #E84848;
  color: var(--light, #FDFDFA);
  font-family: "Iowan Old Style";
  border: none;
  float: right;
  font-size: 20px;
  font-weight: 400;
}

.headingText {
  width: 563px;
  height: 118px;
  margin: 32px auto;
  color: var(--Dark, #3C3030);
  font-family: "Iowan Old Style";
  font-size: 84px;
  font-weight: 400;
}

.headerLineOne{
  border-bottom: #3C3030 solid 2px;
  height:150px;
}

.headerLineTwo{
  border-bottom: #3C3030 solid 2px;
  height:160px;

}


@media(max-width:576px){
  .headingText{
    width: 237px;
    font-size: 35.957px;
    padding-top: 29px;
    margin: auto;

  }
}

.text {
  color: var(--Dark-Red, #D02424);
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.art{
  float: left;
}

img{
  margin-bottom: 16px;
}

.cardTitle{
  margin-bottom: 16px;

}

@media(max-width:576px){
  img{
    width: 25px;
  }
}

.card1{
  width: 250px;
  margin-bottom: 96px;
  border: none;
}

@media(max-width: 576px){
  .card1{
    width: 414px;
    padding: 25px;
    margin: auto;
  }
}
  
.iconSearch{
  float: left;
  padding-top: 13px;
  /* padding-left: 8px; */
}

.footerText{
  height:150px;
  text-align: center;
  padding-top: 59px;
  font-family: "Inria Serif";
  font-size: 16px;
  font-weight: 400;
  margin-top:89px;
  border-top: #3C3030 solid 1px;
}
